<div class="reviews-container">
    <h2>Homepage Reviews Block</h2>
    <div class="reviews js-reviews-carousel">
        {% for item in  1..4 %}
            <div class="reviews__item">
                <div class="reviews__item-name">
                    Adam Smith
                </div>
                <p class="reviews__item-text">
                    Sea esse deserunt ei, no diam ubique euripidis has. Vivendum dignissim conceptam pri ut, ei vel partem audiam sapientem. An nam debet instructior, commodo mediocrem id cum. . Ius dicat feugiat no, vix cu modo dicat principes. . Per cu iracundia splendide.
                    Eu eam dolores lobortis percipitur, quo te equidem deleniti disputando.
                </p>
            </div>
        {% endfor %}
    </div>
</div>
