<nav class="top-menu">
    <ul>
        <li><a href="/kit.html">KIT</a></li>
        <li><a href="/text-page.html">О компании</a></li>
        <li><a href="/text-page.html">Оплата и доставка</a></li>
        <li><a href="/text-page.html">Партнерам</a></li>
        <li><a href="/text-page.html">Птовая продажа</a></li>
    </ul>
</nav>