<div class="main-text">
    <h2>Homepage Additional Text Block</h2>
    <img src="//via.placeholder.com/2400x600"
         srcset="//via.placeholder.com/1200x300 1200w,
         //via.placeholder.com/2400x600 2400w,
         //via.placeholder.com/600x150 600w"
         alt="Homepage Additional Text image"
         title="Homepage Additional Text image"
         decoding="async"
         loading="lazy"
         style="float:right">
    <p>Sea esse deserunt ei, no diam ubique euripidis has. Nisl omittam complectitur pro an, quem omnes munere id vix.
        Eu cum iuvaret debitis voluptatibus, esse perfecto reformidans id has. An nam debet instructior, commodo
        mediocrem id cum. Vix paulo sanctus scripserit ex, te iriure insolens voluptatum qui.</p>
    <p>Sea esse deserunt ei, no diam ubique euripidis has. Elitr accommodare deterruisset eam te, vim munere pertinax
        consetetur at. Nisl omittam complectitur pro an, quem omnes munere id vix. An eos iusto solet, id mel dico
        habemus. Vel in dicant cetero phaedrum, usu populo interesset cu, eum ea facer nostrum pericula.</p>
    <p>Postulant assueverit ea his. Per in illud petentium iudicabit, integre sententiae pro no. Vix paulo sanctus
        scripserit ex, te iriure insolens voluptatum qui. Tation delenit percipitur at vix. Oratio accumsan et mea.
        Tation delenit percipitur at vix.</p>
</div>
