<footer class="footer">
    <div class="footer-top">
        <div>
            <nav class="footer-top-menu">
                <ul>
                    <li><a href="/catalog.html">Какталог</a></li>
                    <li><a href="/text-page.html">О компании</a></li>
                    <li><a href="/text-page.html">Стать дилером</a></li>
                    <li><a href="/text-page.html">Список филиалов</a></li>
                    <li><a href="/text-page.html">Конткакты</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="footer-middle">
        <div>
            <div>
                <div class="logo">
                    <img src="logo.png"
                         srcset="logo.svg"
                         alt="Логотип компании"
                         title="Логотип компании">
                </div>
            </div>
            <div class="footer-menu">
                <div class="footer-menu__title">Меню 1</div>
                <ul>
                    <li><a href="/">Пункт 1</a></li>
                    <li><a href="/">Пункт 2</a></li>
                    <li><a href="/">Пункт 3</a></li>
                    <li><a href="/">Пункт 4</a></li>
                    <li><a href="/">Пункт 5</a></li>
                    <li><a href="/">Пункт 6</a></li>
                </ul>
            </div>
            <div class="footer-menu">
                <div class="footer-menu__title">Меню 1</div>
                <ul>
                    <li><a href="/">Пункт 1</a></li>
                    <li><a href="/">Пункт 2</a></li>
                    <li><a href="/">Пункт 3</a></li>
                    <li><a href="/">Пункт 4</a></li>
                    <li><a href="/">Пункт 5</a></li>
                    <li><a href="/">Пункт 6</a></li>
                </ul>
            </div>
            <div>
                <div class="footer-contacts">
                    <ul>
                        <li>
                            <div class="footer-contacts__name">Адрес:</div>
                            Москва, ул.&nbsp;Шаболовка д.13
                        </li>
                        <li>
                            <div class="footer-contacts__name">Контакты:</div>
                            <a href="tel:+71234567890">+7 (123) 456-78-90</a>
                            <a href="mailto:info@example.com">info@example.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div>
            @copy 2011-2020года. Все права защищены.
        </div>
    </div>
</footer>