<nav class="main-menu">
    <ul class="main-menu__root">
        <li><a href="/catalog.html">Межкомнатные двери</a></li>
        <li><a href="/catalog.html">Входные двери</a></li>
        <li><a href="/catalog.html">Двери с терморазрывом</a></li>
        <li><a href="/catalog.html">Огнестойкие двери</a></li>
    </ul>
</nav>