{% set menu = [
    {
        name: 'Interior Doors',
        href: '#'
    },
    {
        name: 'Exterior Doors',
        href: '#'
    },
    {
        name: 'Steel Doors',
        href: '#'
    },
    {
        name: 'Doors with thermal break',
        href: '#'
    },
    {
        name: 'Fire doors',
        href: '#'
    },
    {
        name: 'Sales of Doors',
        href: '#'
    }
]%}

<nav class="main-menu">
    <ul class="main-menu__root">
        {% for item in menu %}
            <li>
                <a href="{{ item.href }}">{{ item.name }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
