<nav class="main-menu">
    <ul class="main-menu__root">
        <li>
            <a href="/">Главная страница</a>
        </li>
        <li>
            <a href="/text-page.html">Текстовая страница</a>
        </li>
    </ul>
</nav>