@import "../../styles/variables";
@import "../../styles/mixins/media";
@import "../../styles/mixins/grid";

/* header.scss */
.header {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-top {

        background-color: #ccc;
    }

    &-middle {
        background: #eee;
        >div{
            display: flex;
            align-items: center;
            width: $content-width;
            margin: 0 auto;
            justify-content: space-between;
            padding: 20px 0;
        }
    }

    &-bottom {
        height: 40px;
        background-color: black;
    }

    &-contacts{
        ul{
            list-style: none;
            margin: 0;
            @include grid($content-gap);
        }
        li{
            @include grid-col(1/2, $content-gap);
            display: flex;
            flex-direction: column;
            font-size: 0.9em;
        }
        &__name{
            width: 100%;
            font-size: 0.8em;
            color: $color-2;
            margin-bottom: 0.2em;
        }
    }

    &-buttons{

    }

}

.logo{
    width: 150px;
    height: 60px;
    background-color: #ccc;
}