<header class="header">
    <div class="header-top">
        {% include './top-menu/top-menu.twig' %}
    </div>
    <div class="header-middle">
        <div>
            <div class="logo">
                <img src="logo.png"
                     srcset="logo.svg"
                     alt="Логотип компании"
                     title="Логотип компании">
            </div>
            <div class="header-contacts">
                <ul>
                    <li>
                        <div class="header-contacts__name">Адрес:</div>
                        Москва, ул.&nbsp;Шаболовка д.13
                    </li>
                    <li>
                        <div class="header-contacts__name">Контакты:</div>
                        <a href="tel:+71234567890">+7 (123) 456-78-90</a>
                    </li>
                </ul>
            </div>
            <div class="header-buttons">
                <a href="" class="btn">Корзина</a>
                <button class="btn-second">Показать заказ</button>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        {% include './main-menu/main-menu.twig' %}
    </div>
</header>