{% extends "../base/base.twig" %}
{% block content %}
    <h1>Основные элементя оформления сайта</h1>
    <h2>Цвета</h2>
    <table>
        <tr>
            <td>Основной цвет текта ($color-base)</td>
            <td>Второй цвет для текста ($color-second)</td>
            <td>Инвертированный цвет текста ($color-inverse)</td>
        </tr>
    </table>
{% endblock %}