{% extends "../base/base.twig" %}
{% block content %}
    <h1>Наконец-то заработало! 123</h1>
    <h2>Контент текстовой страницы</h2>
    <h2>ТЕстовый подзаголовко для текстовой страницы</h2>
{% endblock %}