{% extends "../base/base.twig" %}
{% block content %}
    <h1>Текстовая страница</h1>
    <img src=""
         srcset=""
         alt=""
         title=""
         decoding="async"
         loading="lazy"
    />
    <p>Разнообразный и богатый опыт <a href="#">консультация с широким активом</a> обеспечивает широкому кругу. Идейные соображения
        высшего порядка, а также укрепление и развитие структуры играет важную роль в формировании существенных
        финансовых и административных условий. С другой стороны укрепление и развитие структуры обеспечивает участие в
        формировании систем массового участия.</p>
    <h2>Заголовок второго уровня H2</h2>
    <p>Разнообразный и богатый опыт консультация с широким активом обеспечивает широкому кругу. Идейные соображения
        высшего порядка, а также укрепление и развитие структуры играет важную роль в формировании существенных
        финансовых и административных условий. С другой стороны укрепление и развитие структуры обеспечивает участие в
        формировании систем массового участия.</p>
    <h3>Заголовок третьего уровня H3</h3>
    <p>Разнообразный и богатый опыт консультация с широким активом обеспечивает широкому кругу. Идейные соображения
        высшего порядка, а также укрепление и развитие структуры играет важную роль в формировании существенных
        финансовых и административных условий. С другой стороны укрепление и развитие структуры обеспечивает участие в
        формировании систем массового участия.</p>

    <h2>Стили тиблицы</h2>
    <table>
        <tr>
            <th>Зокоговок 1</th>
            <th>Заголовок 2</th>
            <th>Заголовок 3</th>
            <th>Заголовок 4</th>
        </tr>
        <tr>
            <td>Ячейка 1</td>
            <td>Ячейка 2</td>
            <td>Ячейка 3</td>
            <td>Ячейка 4</td>
        </tr>
    </table>

    <h3>Оформленная таблица</h3>
    <table class="nice_table">
        <tr>
            <th>Зокоговок 1</th>
            <th>Заголовок 2</th>
            <th>Заголовок 3</th>
            <th>Заголовок 4</th>
        </tr>
        <tr>
            <td>Ячейка 1</td>
            <td>Ячейка 2</td>
            <td>Ячейка 3</td>
            <td>Ячейка 4</td>
        </tr>
    </table>
    <h2>Списки</h2>
    <ul>
        <li>Пункт 1</li>
        <li>Пункт 2</li>
        <li>Пункт 3</li>
    </ul>
    <ol>
        <li>Пункт 1</li>
        <li>Пункт 2</li>
        <li>Пункт 3</li>
        <li>Пункт 4</li>
    </ol>
    <h3>Маркерованный список</h3>
    <ul class="with_marker">
        <li>Пункт 1</li>
        <li>Пункт 2</li>
        <li>Пункт 3</li>
        <li>Пункт 4</li>
        <li>Пункт 5</li>
    </ul>
{% endblock %}