@mixin fullWidth(){
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translate(-50%, 0);
}
@mixin content(){
    max-width: $content-width+$content-gap;
    width: 100%;
    margin: 0 auto;
    padding: 0 $content-gap;
}
