<div class="subsections-container">
    <h2>Subsections block</h2>
    <div class="subsections">
        {% for item in 1..8 %}
            <div class="subsections__item">
                <a href="#">
                    <img src="//via.placeholder.com/1600x1200"
                         srcset="//via.placeholder.com/800x600"
                         alt="Subsection Image {{ loop.index }}"
                         title="Subsection Image {{ loop.index }}"
                         decoding="async"
                         loading="lazy">
                </a>
                <a href="#" class="subsections__item-text">
                    Subsections Item {{ loop.index }} Text
                </a>
            </div>
        {% endfor %}
    </div>
</div>
