@import "variables";

html, body{
    font-size: $font-size-base;
    color: $color-1;
    min-height: 100vh;
    max-width: 100%;
    min-width: 320px;
    line-height: $line-height;
}

body{
    display:flex;
    flex-direction: column;
}

h1{
    font-size: $font-size-h1;
}

h2{
    font-size: $font-size-h2;
}

h3{
    font-size: $font-size-h3;
}