
$font-size-base: 16px;
$font-size-h1: 2rem;
$font-size-h2: 1.8rem;
$font-size-h3: 1.4rem;


$color-base: black;
$color-second: #ccc;
$color-inverse: white;
$color-link: blue;
$color-link-hover: blue;


$content-width: 1200px;

$gap-content: 20px;

$bg-1: #ccc;
$bg-2: #eee;
$bg-3: black;


/* Resolutions */
$hover: 980px;