<div id="cookies" class="cookies">
    <div class="l-wrapper">
        <div class="cookies-container">
            <div class="cookies-text">
                <p>Сайт использует файлы cookie. Это позволяет анализировать взаимодействие посетителей  с сайтом и делать его лучше.</p>
                <p>Продолжая пользоваться сайтом, Вы соглашаетесь с использованием файлов cookie и <a href="/policy" target="_blank">Политикой конфиденциальности</a></p>
            </div>
            <button class="btn-second js-cookie-close">Оk</button>
        </div>
    </div>
</div>
