<div class="hero">
    <img class="hero-img"
         src="https://via.placeholder.com/1920x450"
         alt="Hero image"
         title="Hero image"
         decoding="async"
         loading="lazy">
    <div class="hero-content">
        <p class="hero-heading">Hero block heading</p>
        <p>Hero block text</p>
    </div>
</div>
